*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

.collapse {
  visibility: collapse;
}

.m-\[unset\] {
  margin: unset;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-\[unset\] {
  margin-top: unset;
  margin-bottom: unset;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mt-4 {
  margin-top: 1rem;
}

.block {
  display: block;
}

.border-x-0 {
  border-left-width: 0px;
  border-right-width: 0px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-t-0 {
  border-top-width: 0px;
}

.border-solid {
  border-style: solid;
}

.border-lightBgPrimaryBorder {
  border-color: var(--light-bg-primary-border);
}

.bg-beigeBgBackground {
  background-color: var(--beige-bg-background);
}

.bg-chathamsBlue {
  background-color: var(--chathams-blue);
}

.bg-darkBgQuaternaryBackground {
  background-color: var(--emperor);
}

.bg-darkBgSecondaryBackground {
  background-color: var(--mine-shaft);
}

.bg-darkBgTertiaryBackground {
  background-color: var(--tundora);
}

.bg-lightBgPrimaryBackground {
  background-color: var(--light-bg-primary-background);
}

.bg-lightBgSecondaryBackground {
  background-color: var(--light-bg-secondary-background);
}

.bg-mineShaft {
  background-color: var(--mine-shaft);
}

.px-\[32px\] {
  padding-left: 32px;
  padding-right: 32px;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-darkBgPrimaryColour {
  color: var(--white);
}

.text-lightBgPrimaryColour {
  color: var(--light-bg-primary-colour);
}

.text-lightBgSecondaryColour {
  color: var(--light-bg-secondary-colour);
}

.text-white {
  color: var(--white);
}

:root {
  --big-stone: #123;
  --beige: #f5f5dc;
  --black: #000;
  --brown-derby: #492615;
  --concrete: #f2f2f2;
  --chathams-blue: #147;
  --dove-grey: #666;
  --emperor: #555;
  --mine-shaft: #333;
  --silver: #ccc;
  --tundora: #404040;
  --white: #fff;
  --light-bg-primary-colour: light-dark(var(--mine-shaft), var(--white));
  --light-bg-secondary-colour: light-dark(var(--dove-grey), var(--concrete));
  --light-bg-primary-background: light-dark(var(--white), var(--black));
  --light-bg-secondary-background: light-dark(
      var(--concrete),
      var(--mine-shaft)
    );
  --light-bg-primary-border: light-dark(var(--silver), var(--dove-grey));
  --dark-bg-primary-colour: var(--white);
  --dark-bg-primary-background: var(--black);
  --dark-bg-secondary-background: var(--mine-shaft);
  --dark-bg-tertiary-background: var(--tundora);
  --dark-bg-quaternary-background: var(--emperor);
  --fixed-colour: light-dark(var(--white), var(--white));
  --beige-bg-background: light-dark(var(--beige), var(--brown-derby));
  --chathams-blue-bg-background: light-dark(
      var(--chathams-blue),
      var(--chathams-blue)
    );
  /* Reference: https://daverupert.com/2024/05/light-dark-experiment */
  @supports (color: light-dark(black, white)) {
    color-scheme: light dark;
  }
}
  